<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <div class="ui form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <div class="ui left icon input">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@email.com" %>
            <i class="user icon"></i>
          </div>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <div class="ui left icon input">
            <%= f.password_field :password, autocomplete: "current-password" %>
            <i class="lock icon"></i>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="ui blue submit button">
          <%= f.submit "Log in" %>
        </div>
          <% end %>
      </div>
    </div>
    <div class="middle aligned column">
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
